openapi: 3.1.0
info:
  title: Notion Page Access & Writer
  description: Access, create, and update Notion pages and blocks from a database.
  version: 1.1.0
servers:
  - url: https://api.notion.com/v1
    description: Notion API

paths:
  /databases/{database_id}/query:
    post:
      operationId: queryDatabasePages
      summary: Query pages in a Notion database
      description: Retrieves a list of pages from a specific Notion database with optional filtering and sorting.
      parameters:
        - in: path
          name: database_id
          required: true
          schema:
            type: string
          description: The ID of the database to query
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                filter:
                  type: object
                  description: Filter conditions for the query
                sorts:
                  type: array
                  items:
                    type: object
                  description: Sort order for results
                start_cursor:
                  type: string
                  description: Pagination cursor
                page_size:
                  type: integer
                  description: Number of results to return (max 100)
      responses:
        '200':
          description: List of pages matching the query
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                  next_cursor:
                    type: string
                    nullable: true
                  has_more:
                    type: boolean
        '400':
          description: Bad request
        '401':
          description: Unauthorized
      security:
        - bearerAuth: []

  /pages:
    post:
      operationId: createPage
      summary: Create a new page
      description: Creates a new page in a parent database or page with specified properties and content.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - parent
                - properties
              properties:
                parent:
                  type: object
                  description: Database or page to contain the new page
                  oneOf:
                    - properties:
                        database_id:
                          type: string
                    - properties:
                        page_id:
                          type: string
                properties:
                  type: object
                  description: Page properties (title, etc.)
                children:
                  type: array
                  items:
                    type: object
                  description: Initial content blocks for the page
                icon:
                  type: object
                  description: Page icon
                cover:
                  type: object
                  description: Page cover image
      responses:
        '200':
          description: Successfully created page
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  object:
                    type: string
                  properties:
                    type: object
        '400':
          description: Bad request
        '401':
          description: Unauthorized
      security:
        - bearerAuth: []

  /pages/{page_id}:
    get:
      operationId: getPageMetadata
      summary: Get metadata of a page
      description: Retrieves the properties and metadata of a specific page.
      parameters:
        - in: path
          name: page_id
          required: true
          schema:
            type: string
          description: The ID of the page to retrieve
      responses:
        '200':
          description: Page metadata and properties
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  properties:
                    type: object
                    additionalProperties: true
                  parent:
                    type: object
                    additionalProperties: true
                  created_time:
                    type: string
                  last_edited_time:
                    type: string
        '404':
          description: Page not found
        '401':
          description: Unauthorized
      security:
        - bearerAuth: []
    
    patch:
      operationId: updatePageProperties
      summary: Update page properties
      description: Updates the properties of an existing page.
      parameters:
        - in: path
          name: page_id
          required: true
          schema:
            type: string
          description: The ID of the page to update
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                properties:
                  type: object
                  additionalProperties: true
                  description: Updated page properties
                icon:
                  type: object
                  additionalProperties: true
                  description: Updated page icon
                cover:
                  type: object
                  additionalProperties: true
                  description: Updated cover image
                archived:
                  type: boolean
                  description: Archive status
      responses:
        '200':
          description: Successfully updated page
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  properties:
                    type: object
                    additionalProperties: true
        '400':
          description: Bad request
        '401':
          description: Unauthorized
      security:
        - bearerAuth: []

  /blocks/{block_id}/children:
    get:
      operationId: getPageContentBlocks
      summary: Get block children of a page
      description: Retrieves the content blocks that are children of a specific page or block.
      parameters:
        - in: path
          name: block_id
          required: true
          schema:
            type: string
          description: The ID of the block or page
        - in: query
          name: start_cursor
          schema:
            type: string
          description: Pagination cursor
        - in: query
          name: page_size
          schema:
            type: integer
          description: Number of results to return (max 100)
      responses:
        '200':
          description: List of content blocks
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                  next_cursor:
                    type: string
                    nullable: true
                  has_more:
                    type: boolean
        '404':
          description: Block not found
        '401':
          description: Unauthorized
      security:
        - bearerAuth: []
    
    patch:
      operationId: appendBlockToPage
      summary: Append content blocks to a page
      description: Adds new content blocks to the end of an existing page or block.
      parameters:
        - in: path
          name: block_id
          required: true
          schema:
            type: string
          description: The ID of the block or page to append to
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - children
              properties:
                children:
                  type: array
                  items:
                    type: object
                  description: Array of block objects to append
      responses:
        '200':
          description: Blocks successfully appended
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
        '400':
          description: Bad request
        '401':
          description: Unauthorized
      security:
        - bearerAuth: []

  /blocks/{block_id}:
    patch:
      operationId: updateBlock
      summary: Update a block
      description: Updates the content of an existing block.
      parameters:
        - in: path
          name: block_id
          required: true
          schema:
            type: string
          description: The ID of the block to update
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties: {}
              additionalProperties: true
              description: Updated block content
      responses:
        '200':
          description: Block successfully updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  type:
                    type: string
                  object:
                    type: string
                additionalProperties: true
        '400':
          description: Bad request
        '401':
          description: Unauthorized
      security:
        - bearerAuth: []
    
    delete:
      operationId: deleteBlock
      summary: Delete a block
      description: Deletes (archives) a block.
      parameters:
        - in: path
          name: block_id
          required: true
          schema:
            type: string
          description: The ID of the block to delete
      responses:
        '200':
          description: Block successfully deleted
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Block not found
        '401':
          description: Unauthorized
      security:
        - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Notion API Token
      description: Notion integration token with appropriate permissions
  
  schemas:
    Error:
      type: object
      properties:
        object:
          type: string
          example: error
        status:
          type: integer
        code:
          type: string
        message:
          type: string
