openapi: 3.1.0
info:
  title: Notion API Integration (Multi-source Support)
  description: Full Notion API updated for version 2025-09-03 introducing first-class support for multi-source databases.
  version: 3.0.0
servers:
  - url: https://api.notion.com/v1
    description: Notion API

paths:
  # 1. 데이터베이스 조회 (이제 데이터 소스 목록을 반환함)
  /databases/{database_id}:
    get:
      operationId: getDatabase
      summary: Retrieve a database
      description: Returns a list of child data_sources for the given database.
      parameters:
        - in: path
          name: database_id
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/NotionVersion'
      responses:
        '200':
          description: List of data sources retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Database'

  # 2. 데이터 소스 쿼리 (기존 /databases/{id}/query에서 경로 변경)
  /data_sources/{data_source_id}/query:
    post:
      operationId: queryDataSourcePages
      summary: Query pages in a data source
      description: Retrieves pages from a specific data source.
      parameters:
        - in: path
          name: data_source_id
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/NotionVersion'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
      responses:
        '200':
          description: Successfully retrieved pages
        '400':
          $ref: '#/components/responses/ErrorResponse'

  # 3. 페이지 생성 (부모를 data_source_id로 설정 권장)
  /pages:
    post:
      operationId: createPage
      summary: Create a new page
      parameters:
        - $ref: '#/components/parameters/NotionVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [parent, properties]
              properties:
                parent:
                  type: object
                  oneOf:
                    - properties:
                        type: { type: string, enum: [data_source_id] }
                        data_source_id: { type: string }
                    - properties:
                        type: { type: string, enum: [page_id] }
                        page_id: { type: string }
                properties:
                  type: object
                  additionalProperties: true
      responses:
        '200':
          description: Page created successfully

  # 4. 데이터 소스 정보 조회 및 수정 (새로운 엔드포인트)
  /data_sources/{data_source_id}:
    get:
      operationId: getDataSource
      summary: Retrieve a data source
      parameters:
        - in: path
          name: data_source_id
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/NotionVersion'
      responses:
        '200':
          description: Data source metadata and properties (schema) retrieved.
    patch:
      operationId: updateDataSource
      summary: Update a data source
      description: Updates properties (schema) or title of a specific data source.
      parameters:
        - in: path
          name: data_source_id
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/NotionVersion'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title: { type: array, items: { type: object } }
                properties: { type: object, additionalProperties: true }
      responses:
        '200':
          description: Data source updated.

components:
  parameters:
    NotionVersion:
      in: header
      name: Notion-Version
      required: true
      schema:
        type: string
        default: '2025-09-03'
      example: '2025-09-03'

  responses:
    ErrorResponse:
      description: Error occurred
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:
    Database:
      type: object
      properties:
        object: { type: string, example: "database" }
        id: { type: string }
        data_sources:
          type: array
          items:
            type: object
            properties:
              id: { type: string }
              name: { type: string }
    
    QueryRequest:
      type: object
      properties:
        filter: { type: object }
        sorts: { type: array, items: { type: object } }
        page_size: { type: integer, maximum: 100 }
        start_cursor: { type: string }

    Error:
      type: object
      properties:
        object: { type: string, example: "error" }
        status: { type: integer }
        code: { type: string }
        message: { type: string }

security:
  - bearerAuth: []
