openapi: 3.1.0
info:
  title: Notion API Integration (Inline Parameters)
  description: Fixed parameter reference errors by inlining header definitions. Includes block children retrieval.
  version: 3.1.3
servers:
  - url: https://api.notion.com/v1
    description: Notion API

paths:
  # 1. 데이터베이스 조회
  /databases/{database_id}:
    get:
      operationId: getDatabase
      summary: Retrieve a database
      description: Returns a list of child data_sources for the given database.
      parameters:
        - in: path
          name: database_id
          required: true
          schema:
            type: string
        # [수정] $ref 대신 직접 정의 (Inlining)
        - in: header
          name: Notion-Version
          required: true
          schema:
            type: string
            default: '2025-09-03'
          example: '2025-09-03'
      responses:
        '200':
          description: Successful response containing database metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Database'

  # 2. 페이지 내용(블록) 조회 (필수 기능)
  /blocks/{block_id}/children:
    get:
      operationId: getBlockChildren
      summary: Retrieve page content blocks
      description: Retrieves the content blocks of a page to enable summarization.
      parameters:
        - in: path
          name: block_id
          required: true
          schema:
            type: string
        # [수정] 직접 정의
        - in: header
          name: Notion-Version
          required: true
          schema:
            type: string
            default: '2025-09-03'
          example: '2025-09-03'
      responses:
        '200':
          description: List of blocks retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Block'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # 3. 데이터 소스 쿼리
  /data_sources/{data_source_id}/query:
    post:
      operationId: queryDataSourcePages
      summary: Query pages in a data source
      parameters:
        - in: path
          name: data_source_id
          required: true
          schema:
            type: string
        # [수정] 직접 정의
        - in: header
          name: Notion-Version
          required: true
          schema:
            type: string
            default: '2025-09-03'
          example: '2025-09-03'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
      responses:
        '200':
          description: Successfully retrieved filtered pages.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # 4. 페이지 생성
  /pages:
    post:
      operationId: createPage
      summary: Create a new page
      parameters:
        # [수정] 직접 정의
        - in: header
          name: Notion-Version
          required: true
          schema:
            type: string
            default: '2025-09-03'
          example: '2025-09-03'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [parent, properties]
              properties:
                parent:
                  type: object
                  properties:
                    type: { type: string }
                    data_source_id: { type: string }
                properties:
                  type: object
                  additionalProperties: true
      responses:
        '200':
          description: Page created successfully.

  # 5. 데이터 소스 정보 조회 및 수정
  /data_sources/{data_source_id}:
    get:
      operationId: getDataSource
      summary: Retrieve a data source
      parameters:
        - in: path
          name: data_source_id
          required: true
          schema:
            type: string
        # [수정] 직접 정의
        - in: header
          name: Notion-Version
          required: true
          schema:
            type: string
            default: '2025-09-03'
          example: '2025-09-03'
      responses:
        '200':
          description: Data source metadata retrieved.
    patch:
      operationId: updateDataSource
      summary: Update a data source
      parameters:
        - in: path
          name: data_source_id
          required: true
          schema:
            type: string
        # [수정] 직접 정의
        - in: header
          name: Notion-Version
          required: true
          schema:
            type: string
            default: '2025-09-03'
          example: '2025-09-03'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title: { type: array, items: { type: object } }
                properties: { type: object, additionalProperties: true }
      responses:
        '200':
          description: Data source updated.

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

  schemas:
    Database:
      type: object
      properties:
        object: { type: string, example: "database" }
        id: { type: string }
        data_sources:
          type: array
          items:
            type: object
            properties:
              id: { type: string }
              name: { type: string }
    
    Block:
      type: object
      description: Content block (paragraph, heading, etc.)
      properties:
        object: { type: string, example: "block" }
        id: { type: string }
        type: { type: string }
      additionalProperties: true

    QueryRequest:
      type: object
      properties:
        filter: { type: object }
        sorts: { type: array, items: { type: object } }
        page_size: { type: integer, maximum: 100 }
        start_cursor: { type: string }

    Error:
      type: object
      properties:
        object: { type: string, example: "error" }
        status: { type: integer }
        code: { type: string }
        message: { type: string }

security:
  - bearerAuth: []
